@import "../../app/App.css";

.search-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}

#search-input {
    width: 100%;
    max-width: 452px;
    height: 56px;
    color: var(--gray-200);
    padding: 0px 20px 0px 20px;
    border-radius: 8px;
    gap: 0px;
    opacity: 0px;
    background: var(--gray-600);
    border: 1px solid var(--gray-600);
}

#search-input::placeholder {
    text-align: left;
    width: 412px;
    height: 22px;
    gap: 0px;
    opacity: 0px;
    font: var(--gray-400);
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
    #search-input {
        max-width: 80%;
    }
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
    #search-input {
        max-width: 80%;
    }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
    #search-input {
        max-width: 65%;
    }
}