@import "../../app/App.css";

.app {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    align-content: center;
}

.logo {
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
    margin-top: 48px;
}

.color-word {
    color: var(--blue-light);
}

.paragraph {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}

#welcome-paragraph {
    height: 1px;
    gap: 4px;
    opacity: 0px;
    left: 10px;
    color: var(--white);
}

#description-paragraph {
    height: 20px;
    gap: 0px;
    opacity: 0px;
    color: var(--gray-200);
}