.home-container {
    display: flex;
    justify-content: center;
}


@media (max-width: 768px) {
    .home-container {
        display: grid;
        justify-content: center;
        align-items: center;
    }
}

