.next-days-container {
    display: flex;
    flex-direction: row; 
    justify-content: space-around; 
    align-items: center;
    height: 328px;
    width: 728px; 
    border-radius: 12px;
    margin-top: 10px;
    background-color: var(--gray-800);
    overflow: hidden;
}
.day {
    color: var(--gray-200);
    text-align: center; 
}

.next-days-weather {
    display: flex;
    justify-content: center;
}

.temperature-1 {
    color: var(--gray-100);
    text-align: center; 
}

.temperature-2 {
    color: var(--gray-400);
    text-align: center; 
}